body{
    background-image: url("images/logo_tennis.jpg");
    background-color: #ffffff;
}
div{
    background-color: #cccccc;
    display: table;
    
}
.center-div {
     margin: 0 auto;
     width: 1000px; 
}